* {
        padding: 0px;
        margin: 0;
    }
    b {
        font-family: 'Open Sans SemiBold';
    }
    body {
        font-family: 'Open Sans Regular';
        font-size: 14px;
        background: transparent;

    }
    header {
        background: url('../img/header.jpg') no-repeat center;
        background-size: cover;
        width: 100%;
        height: 140px;
    }
    header > .logo {
        position: absolute;
        background: url('../img/logo.png') no-repeat;
        width: 200;
        height: 140px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .logincontainer {
        margin-top: 60px;
        width: 100%;
        background: #FFF;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 4px;
    }
    .col-md-8 {
        margin-left: auto;
        margin-right: auto;
    }

    .logincontainer > .body {
        background: #FFF;
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .logincontainer > .notification {
        width: 100%;
        padding: 10px;
        color: #FFF;
        font-size: 13px;
    }
    .logincontainer > .notification.info {
        background: #0a6fe0;
    }
    .logincontainer > .notification.error {
        background: #0a6fe0;
    }

    .column {
        margin-left: -10px;
        width: calc(100% + 20px);
        padding: 15px;
    }
    .column.dark {
        background: #F4F4F4;
    }

    input[type="text"], input[type="password"] {
        border: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        margin-bottom: 5px;
        margin-top: 5px;
        display: block;
        height: 33px;
        width: 100%;
        padding-left: 10px;
        border-radius: 0px;
    }