	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:03
  	*/

@font-face {
    font-family: "Media";
    src: url("../fonts/media.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

[class^="media-"]:before, [class*=" media-"]:before,
[class^="media-"]:after, [class*=" media-"]:after {
    font-family: "Media";
    font-style: normal;
}

.media-alphabetical-order:before { content: "\f100"; }
.media-angry-emoticon-face:before { content: "\f101"; }
.media-antenna:before { content: "\f102"; }
.media-audio-cassette:before { content: "\f103"; }
.media-audio-headset-of-auriculars-with-microphone-included:before { content: "\f104"; }
.media-bomb:before { content: "\f105"; }
.media-boombox:before { content: "\f106"; }
.media-brickwall:before { content: "\f107"; }
.media-bug:before { content: "\f108"; }
.media-business-chart-area-in-zig-zag:before { content: "\f109"; }
.media-camera:before { content: "\f10a"; }
.media-candlestick-chart:before { content: "\f10b"; }
.media-chart:before { content: "\f10c"; }
.media-checkbox-selected:before { content: "\f10d"; }
.media-checkbox-unselected:before { content: "\f10e"; }
.media-clapperboard-for-numbering-scenes-on-films:before { content: "\f10f"; }
.media-clef-symbol:before { content: "\f110"; }
.media-coffee-bean-for-a-coffee-break:before { content: "\f111"; }
.media-coffee-beans:before { content: "\f112"; }
.media-compact-camera:before { content: "\f113"; }
.media-compact-disc:before { content: "\f114"; }
.media-computer-virus:before { content: "\f115"; }
.media-console-network:before { content: "\f116"; }
.media-cookies-couple-in-a-jar-like-a-snack-for-computer-workers-of-an-office:before { content: "\f117"; }
.media-cookies-symbol-for-interface:before { content: "\f118"; }
.media-cpu:before { content: "\f119"; }
.media-cpu-1:before { content: "\f11a"; }
.media-data-copy:before { content: "\f11b"; }
.media-data-spreadsheet:before { content: "\f11c"; }
.media-debug:before { content: "\f11d"; }
.media-descending-numbers-from-9-to-1:before { content: "\f11e"; }
.media-dome-camera:before { content: "\f11f"; }
.media-download-from-the-cloud:before { content: "\f120"; }
.media-drop-down-list:before { content: "\f121"; }
.media-earth:before { content: "\f122"; }
.media-earth-in-a-glass-jar:before { content: "\f123"; }
.media-earth-link:before { content: "\f124"; }
.media-eject-media-symbol:before { content: "\f125"; }
.media-element-selection-with-broken-line:before { content: "\f126"; }
.media-elements-hierarchy:before { content: "\f127"; }
.media-email-envelope-outline:before { content: "\f128"; }
.media-emoticon-cool-face-smiling-with-dark-sunglasses:before { content: "\f129"; }
.media-emoticon-with-straight-mouth-line:before { content: "\f12a"; }
.media-eye-scan:before { content: "\f12b"; }
.media-fast-forward-media-control-button:before { content: "\f12c"; }
.media-fence:before { content: "\f12d"; }
.media-film:before { content: "\f12e"; }
.media-filter-and-sort-arrows:before { content: "\f12f"; }
.media-fire:before { content: "\f130"; }
.media-fire-extinguisher:before { content: "\f131"; }
.media-fire-inside-a-home-like-heating-symbol:before { content: "\f132"; }
.media-firewall:before { content: "\f133"; }
.media-flatscreen-tv:before { content: "\f134"; }
.media-fortress-tower-antique-building-silhouette-of-a-computer-game:before { content: "\f135"; }
.media-frame-with-photo:before { content: "\f136"; }
.media-frown-emoticon:before { content: "\f137"; }
.media-funnel-chart:before { content: "\f138"; }
.media-global-map:before { content: "\f139"; }
.media-grin-emoticon:before { content: "\f13a"; }
.media-gun:before { content: "\f13b"; }
.media-hand-finger-pressing-a-circular-ring-button:before { content: "\f13c"; }
.media-headphone:before { content: "\f13d"; }
.media-house-above-the-water:before { content: "\f13e"; }
.media-html-tag:before { content: "\f13f"; }
.media-html-tag-1:before { content: "\f140"; }
.media-id-badge:before { content: "\f141"; }
.media-id-card:before { content: "\f142"; }
.media-inbox-empty:before { content: "\f143"; }
.media-inbox-out:before { content: "\f144"; }
.media-into-inbox-symbol:before { content: "\f145"; }
.media-key:before { content: "\f146"; }
.media-key-6-of-a-keyboard:before { content: "\f147"; }
.media-key-d-of-a-keyboard:before { content: "\f148"; }
.media-key-h-of-a-keyboard:before { content: "\f149"; }
.media-key-l-of-a-keyboard:before { content: "\f14a"; }
.media-key-number-7:before { content: "\f14b"; }
.media-key-o-of-a-compter-keyboard:before { content: "\f14c"; }
.media-key-shape:before { content: "\f14d"; }
.media-key-silhouette:before { content: "\f14e"; }
.media-key-w-of-a-computer-keyboard:before { content: "\f14f"; }
.media-keyboard-key-a:before { content: "\f150"; }
.media-keyboard-key-m:before { content: "\f151"; }
.media-keyboard-key-n:before { content: "\f152"; }
.media-keyboard-key-of-letter-a-and-a-speaker:before { content: "\f153"; }
.media-keyboard-key-of-number-4:before { content: "\f154"; }
.media-keyboard-key-pointing-to-right:before { content: "\f155"; }
.media-keyboard-key-s:before { content: "\f156"; }
.media-keyboard-key-t:before { content: "\f157"; }
.media-keyboard-key-v:before { content: "\f158"; }
.media-keyboard-key-with-j-letter:before { content: "\f159"; }
.media-keypad:before { content: "\f15a"; }
.media-line-chart:before { content: "\f15b"; }
.media-logic-not-symbol:before { content: "\f15c"; }
.media-loudspeaker-box:before { content: "\f15d"; }
.media-loudspeaker-network:before { content: "\f15e"; }
.media-loudspeaker-side-view:before { content: "\f15f"; }
.media-mail-download-from-server-symbol-for-interface:before { content: "\f160"; }
.media-mail-exchange:before { content: "\f161"; }
.media-mail-forward-button:before { content: "\f162"; }
.media-mail-on-cloud:before { content: "\f163"; }
.media-mail-symbol:before { content: "\f164"; }
.media-mailbox-empty:before { content: "\f165"; }
.media-mailbox-full:before { content: "\f166"; }
.media-man-singing-with-a-microphone:before { content: "\f167"; }
.media-media-play-symbol:before { content: "\f168"; }
.media-media-record:before { content: "\f169"; }
.media-media-step-back-arrow:before { content: "\f16a"; }
.media-message-in-a-speech-bubble:before { content: "\f16b"; }
.media-microphone:before { content: "\f16c"; }
.media-missile-weapon-silhouette-side-view:before { content: "\f16d"; }
.media-mobile-phone:before { content: "\f16e"; }
.media-monitor-height:before { content: "\f16f"; }
.media-monitor-width:before { content: "\f170"; }
.media-mouse-outline:before { content: "\f171"; }
.media-mouse-outline-1:before { content: "\f172"; }
.media-mouse-right-button:before { content: "\f173"; }
.media-movie:before { content: "\f174"; }
.media-movie-camera-side-view:before { content: "\f175"; }
.media-movie-films:before { content: "\f176"; }
.media-network-node:before { content: "\f177"; }
.media-network-server:before { content: "\f178"; }
.media-numeric-keypad:before { content: "\f179"; }
.media-ok-button:before { content: "\f17a"; }
.media-open-mail:before { content: "\f17b"; }
.media-padlocked-locked-of-circular-shape-for-security:before { content: "\f17c"; }
.media-pager:before { content: "\f17d"; }
.media-passport:before { content: "\f17e"; }
.media-password-field-with-asterisks:before { content: "\f17f"; }
.media-pause-sign:before { content: "\f180"; }
.media-phone:before { content: "\f181"; }
.media-phone-hang-up:before { content: "\f182"; }
.media-phone-pick-up-sign:before { content: "\f183"; }
.media-phone-receiver:before { content: "\f184"; }
.media-player-with-the-earth-picture:before { content: "\f185"; }
.media-plug-connector:before { content: "\f186"; }
.media-plus-key-on-keyboard:before { content: "\f187"; }
.media-postage-stamp-with-person-close-up-silhouette:before { content: "\f188"; }
.media-power-button-on:before { content: "\f189"; }
.media-presentation:before { content: "\f18a"; }
.media-progress-bar:before { content: "\f18b"; }
.media-rack-server-network:before { content: "\f18c"; }
.media-radio-button:before { content: "\f18d"; }
.media-radio-button-group:before { content: "\f18e"; }
.media-radio-button-selection:before { content: "\f18f"; }
.media-record-player:before { content: "\f190"; }
.media-rectangles-couple:before { content: "\f191"; }
.media-rectangular-geometrical-shape-outline:before { content: "\f192"; }
.media-registry:before { content: "\f193"; }
.media-rewind-symbol:before { content: "\f194"; }
.media-right-click-of-the-mouse:before { content: "\f195"; }
.media-scanner-with-slightly-opened-cover:before { content: "\f196"; }
.media-scroll-bar:before { content: "\f197"; }
.media-sd-card:before { content: "\f198"; }
.media-sealed-mail:before { content: "\f199"; }
.media-security-padlock-tool:before { content: "\f19a"; }
.media-server:before { content: "\f19b"; }
.media-server-client-exchange:before { content: "\f19c"; }
.media-server-computer:before { content: "\f19d"; }
.media-server-document:before { content: "\f19e"; }
.media-server-to-client:before { content: "\f19f"; }
.media-server-with-the-earth:before { content: "\f1a0"; }
.media-shift-keyboard-key:before { content: "\f1a1"; }
.media-shutter:before { content: "\f1a2"; }
.media-signal-strength:before { content: "\f1a3"; }
.media-signal-strength-1:before { content: "\f1a4"; }
.media-signal-strength-bars:before { content: "\f1a5"; }
.media-signal-strenth:before { content: "\f1a6"; }
.media-sim-card:before { content: "\f1a7"; }
.media-smartphone:before { content: "\f1a8"; }
.media-smile-emoticon:before { content: "\f1a9"; }
.media-sort-ascending:before { content: "\f1aa"; }
.media-sort-descending:before { content: "\f1ab"; }
.media-sort-down:before { content: "\f1ac"; }
.media-sort-down-arrow-symbol-with-a-minus-sign:before { content: "\f1ad"; }
.media-sort-from-a-to-z-in-alphabetical-ascending-order:before { content: "\f1ae"; }
.media-sort-from-a-to-z-in-ascending-order:before { content: "\f1af"; }
.media-sort-from-z-to-a-in-reverse-alphabetical-order:before { content: "\f1b0"; }
.media-spam:before { content: "\f1b1"; }
.media-speaker-off:before { content: "\f1b2"; }
.media-spline-chart:before { content: "\f1b3"; }
.media-spreadsheet-cell:before { content: "\f1b4"; }
.media-spreadsheet-cell-row:before { content: "\f1b5"; }
.media-spreadsheet-chart:before { content: "\f1b6"; }
.media-spreadsheet-column:before { content: "\f1b7"; }
.media-spreadsheet-sort-descending:before { content: "\f1b8"; }
.media-spreadsheet-with-sum-symbol:before { content: "\f1b9"; }
.media-step-chart:before { content: "\f1ba"; }
.media-surprised-emoticon:before { content: "\f1bb"; }
.media-surveillance-camera:before { content: "\f1bc"; }
.media-table-blank-grid:before { content: "\f1bd"; }
.media-table-cells-of-a-column-selected-with-crosses:before { content: "\f1be"; }
.media-table-grid-completely-selected-with-crosses:before { content: "\f1bf"; }
.media-table-selection-cell:before { content: "\f1c0"; }
.media-table-with-row-selection-with-crosses:before { content: "\f1c1"; }
.media-tables-couple:before { content: "\f1c2"; }
.media-tablet-computer:before { content: "\f1c3"; }
.media-telephone:before { content: "\f1c4"; }
.media-telephone-book:before { content: "\f1c5"; }
.media-telephone-box:before { content: "\f1c6"; }
.media-television:before { content: "\f1c7"; }
.media-three-rectangular-elements-for-interface:before { content: "\f1c8"; }
.media-tool-tip:before { content: "\f1c9"; }
.media-torpedo:before { content: "\f1ca"; }
.media-touch-screen-monitor:before { content: "\f1cb"; }
.media-trojan-horse:before { content: "\f1cc"; }
.media-upload-symbol-of-an-ascending-arrow-on-earth-globe:before { content: "\f1cd"; }
.media-usb-plug:before { content: "\f1ce"; }
.media-video-chat:before { content: "\f1cf"; }
.media-video-chat-1:before { content: "\f1d0"; }
.media-walkie-talkie:before { content: "\f1d1"; }
.media-wax-seal-broken:before { content: "\f1d2"; }
.media-webcam-of-spherical-shape:before { content: "\f1d3"; }
.media-workplace-with-computer-monitor-and-keyboard:before { content: "\f1d4"; }
.media-workstation:before { content: "\f1d5"; }
.media-workstations:before { content: "\f1d6"; }
